/* Stili per la sezione Trasferte (ex Timeline JIRA) */
.jira-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh; /* Manteniamo l'altezza del contenitore */
    overflow: hidden; 
    padding: 0;
    margin: 0;
}

.jira-container img {
    width: 100%; /* Forziamo l'immagine a occupare il 100% della larghezza */
    height: auto; /* L'altezza si adatta proporzionalmente */
    object-fit: contain; /* L'immagine viene ridimensionata per adattarsi */
    border-radius: 8px;
}
